<ion-header>
  <ion-toolbar class="ion-text-center">
  
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   
   

    <ion-title>News</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let info of projects"> 
    <ion-thumbnail slot="start" >
      <ion-img  [src]=""></ion-img>
    </ion-thumbnail>
    <ion-button routerLink="{{info.pageUrl}}"shape="round">{{info.country}}</ion-button>

    <ion-label> </ion-label>
  </ion-item>

</ion-content>
