<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor="let article of articles">
    <ion-card >
      <ion-img [src]="article.urlToImage"> </ion-img>
       <ion-card-header>
         <ion-card-title> {{article.title}}</ion-card-title>
       </ion-card-header>
     
       <ion-card-content>
          {{article.description}}
       </ion-card-content>
     </ion-card>

  </div>
 
  
 
</ion-content>
