<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-chip  routerLink="/news-choices" class="moreNews">More News</ion-chip>


    <div>
      <ion-title class="title">Sport News</ion-title>
      <ion-card *ngFor="let article of articles">
        <ion-card-header>
          <ion-img [src]="article.urlToImage"></ion-img>
          <ion-card-subtitle>{{article.publishedAt | date}}</ion-card-subtitle>

          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="Articledescription">
          {{article.description}}
          <a href="{{article.url}}">Read full article</a>
        </ion-card-content>
      </ion-card>
    </div>






</ion-content>