ion-card-title{
    --color:black;
}



.buttonStyle{
    --color: black;
    --background:white;
}

.Articledescription{
    --color:#3dc2ff;
}

.title{
    text-align: center;
    margin-top: 5%;
    --color:white;
}

