<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <ion-card class="cardStyle" no-padding>
      <ion-img [src]=""> </ion-img>
       <ion-card-header>
         <ion-card-title> Welcome </ion-card-title>
         <h3>Select your choice of News</h3>
       </ion-card-header>
     
       <ion-card-content>

        <ion-chip  *ngFor="let source of news">
          <ion-label color="secondary" routerLink={{source.pageUrl}} > {{source.country}}</ion-label>
        </ion-chip>

      

       </ion-card-content>
       <ion-chip color="secondary" routerLink="/news-choices" class="moreNews">More News</ion-chip>

     </ion-card>

  </div>
 
  
 
</ion-content>
