<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Ireland News</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let article of articles">
    <ion-card-header>
      <ion-img [src]="article.urlToImage"></ion-img>
      <ion-card-subtitle>{{article.publishedAt | date}}</ion-card-subtitle>

      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{article.description}}
      <a href="{{article.url}}">Read full article</a>
    </ion-card-content>
  </ion-card>




</ion-content>
